{% extends 'main.html' %}

{% block content %}

<h2>Enter your details........</h2>

<form method="post">
    {% csrf_token %}

    <label for="name">Name: </label>
    <input type="text" id="name" name="name" placeholder="Name...." required> <br><br>

    <label for="contact">Contact: </label>
    <input type="tel" id="contact" name="contact"  required><br><br>

    <label for="mail">Email: </label>
    <input type="email" id="mail" name="mail" ><br><br>

    <label for="degree">Degree: </label>
    <input type="text" id="degree" name="degree" ><br><br>

    <label for="course">Course </label>
    <input type="text" id="course" name="course" ><br><br>

    <a href=""><button type="submit">Submit</button></a>
    <a href=""><button type="reset">Clear</button></a>

</form>

{% endblock %}